* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}
.container {
    max-width: 120rem;
    padding: 0 3.2rem;
    margin:0 auto;
}
/****************/
/*   Header    */
/**************/
.header-container {
  display:flex;
  justify-content: space-between;
}
.nav-container {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.header-container {
  display:flex;
  justify-content: space-between;
}
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #003458;
  font-weight: 600;
  font-size: 1.4rem;
}
.contacts-page{
  text-decoration: none;
  color: #003458;
  font-weight: 600;
  font-size: 1.4rem;
}
.btn {
    display: inline-block;
    text-decoration: none;
    border: none;
    border-radius: 20px;
}
.btn--full {
  background-color: #003458;
  color:#fff;
}
.btn-join {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.9rem 1.8rem;
}
.btn-main {
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0.7rem 1.4rem;
}
.btn-outline {
  background-color: #FCEED5;
  color: #003458;
  border: 1px solid #003458;
}
.btn-intro span {
  font-size:1rem;
  color: #003458;
}
.heading-primary {
  font-size: 4.4rem;
  font-weight:700;
  color:#003458;
  
  z-index:-1;
}
.heading-secondary {
  font-size: 3rem;
  font-weight:700;
  color:#003458;
  margin-top:0.8rem;
}
.hero-text {
  display:flex;
  flex-direction: column;
  gap: 2rem;
}
.btns-box {
  display:flex;
  gap:1rem;
}
.text {
  font-size:1.2rem;
  line-height: 1.5;
}
/*********************/
/* Products Section */
/*******************/
.section-products{
  padding-bottom: 4.6rem ;
}
.tag-container{
  width:20rem;
  height:3rem;
  background-color: #FCEED5;
  border-radius: 9px;
  padding-right: 2rem;
  
  display:flex;
  align-items: center;
  gap:0.2rem;

}
.present-box-img{
  width:2rem;
  height:2rem;
  object-fit: contain;
}
.dot-img{
  object-fit: contain;
  width:2rem;
  height:2rem;
}
.tag-text {
  font-size: 1.1rem;
  font-weight: 700;
  color:#003458;
  display:flex;
  gap:0.3rem;
}
/********************/
/* feature Section */
/******************/
.section-feature {
  padding: 0 2rem 9.6rem 2rem;
}
.feature {
  height:28rem;
  background-color: #003458;
  display:flex;
  position:relative;
  overflow: hidden;
  border-radius: 9px;
}
.background-img-5{
  position:absolute;
  right:-1%;
}
.content {
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2rem;
  margin-left:70rem;
  z-index: 1;

  position:absolute;
  top:20%;
  right:5%;
}
.background-img-6 {
  position:absolute;
  top:15%;
  left:-2%;
}
.feature-img {
  z-index: 1;
  margin-top:3rem;
  margin-left:-3rem;;
}
.content h2{
  text-align: right;
}
/*******************/
/*  Pets Section  */
/*****************/
.section-pets{
  padding: 4.8rem 0rem 4.6rem 0rem;
}
.btn-more {
  background-color: #fff;
}
.heading-container {
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.subheading {
  font-size: 1.2rem;
  font-weight:500;
}
.heading-tertiary {
  font-size: 1.8rem;
  font-weight: 700;
  color:#003458;
  margin-top:1rem;
}
.cards-container {
  display:grid;
  grid-template-columns: repeat(4, 1fr);
}
.card {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 12px;
  padding:1rem 1rem 1.5rem;
}
.card img {
  width:100%;
  border-radius: 9px;;
}
.card-title {
  font-size: 1.2rem;
  font-weight:700;
  color: #00171f;
  margin-top: 0.8rem;
}
.description {
  display:flex;
  align-items: center;
  gap:0.8rem;
}
.price {
  font-size: 1.2rem;
  font-weight:700;
  color:#00171f;
}
.details-container {
  display:flex;
  flex-direction: column;
  gap: 0.8rem;
  padding-left: 0.5rem;
}
/*****************/
/*    Footer    */
/***************/
.footer {
  padding: 4.8rem 0 4.6rem 0;
  background-image: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #f7e2c0bc 104.24%);
}
.footer-container {
  display:flex;
  flex-direction: column;
  gap:2.5rem;
}
.cta-container {
  background-color: #003458;
  height:10rem;
  border-radius: 12px;

  display: flex;
  align-items: center;
  gap: 3rem;
}
.heading-cta {
  font-size:1.9rem;
  font-weight: 700;
  line-height: 1.2;
  color:#fff;
  padding-left:2.5rem;
}
.cta-form {
  padding: 1rem 10rem 1rem 1rem;
  background-color: #fff;
  border-radius: 9px;
}
.email{
  padding: 1rem 15rem 1rem 1rem;
  background-color: #fff;
  border:none;
  border:0.5px solid #00335862;
  border-radius:9px;
  margin-right: 0.5rem;
}
input::placeholder {
  font-size: 1rem;;
}
.btn-subscribe {
  padding: 1rem 5rem 1rem 2rem;
  background-color: #003458;
  border-radius:9px;
  color:#fff
}
.nav-contacts-container {
  display:flex;
  justify-content: space-between;
}
.social-links {
  display:flex;
  gap:2rem;
}
.footer-line {
  border:0.2px solid #0033581e;
}
.footer-copyright {
  display:flex;
  justify-content: space-between;
}
.copyright{
  font-size: 1.2rem;
}
.footer-logo {
  width:9rem;
}
.resources-list{
  list-style: none;
  display:flex;
  gap:1rem;
}
.resources-link{
  text-decoration: none;
  font-size:1.2rem;
  color:#555;
}
