.section-pets-details{
    padding: 4.8rem 0 4.6rem 0;
}
.details-grid{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.details-card {
    display:flex;
    flex-direction: column;
    gap:1.5rem;
}
.details-hero-img {
    width:80%;
}
.details-img-container {
    display: flex;
    flex-direction: column;
    
    gap:1.4rem;
}
.tags-box{
    display:flex;
    background-color: #FCEED5;
    width:75%;
    border-radius: 9px;
}
.social-links-box {
    display:flex;
    align-items: center;
    gap:2rem;
}
.social-container{
    display:flex;
    align-items: center;
    gap:0.4rem;
}
.share-icon,
.social-links-box img {
    width:1.5rem;
    height:1.5rem;
    
}
.petsDetail-social-links {
    display:flex;
    gap:0.8rem;
    opacity: 0.6;
}
.nav-path-box {
    display:flex;
    gap:1.5rem;
    font-size:1.2rem;
    color:#667479;
}
.code {
    font-size:1.3rem;
    color:#667479;
    margin-bottom: 0.2rem;
}
.dog-breed {
    font-size: 1.8rem;
    font-weight: 700;
    color:#022b48;
}
.dog-price {
    font-size: 1.7rem;
    font-weight: 700;
    color:#003459;
}
.btn-petsDetail {
    display:flex;
    align-items: center;
    gap:0.5rem;
    background-color: #fff;;
}
.btn-petsDetail img {
    width:1.5rem;
    height:1.5rem;
}
.btns-box button{
    font-size: 1.1rem;
    font-weight: 600;
}
.pets-description-box p{
    font-size:1.2rem;
    font-weight: 500;
    color:#667479;
}
.line{
    border:0.2px solid #a2abaf2a;
    margin-top:1rem;
    width:20rem;
}
.flex-container{
    display: flex;
    gap:-1rem;
}
.pets-description-box{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}
/********************/
/* Customer slide  */
/******************/
.section-customers{
  padding: 4.8rem 0 4.6rem 0;
  position:relative;
}
.customers-imgs {
    display:flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.customers-imgs img {
    border-radius: 9px;
}
.dots {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  
  .dots__dot {
    border: none;
    background-color: #b9b9b9;
    opacity: 0.7;
    height: 0.7rem;
    width: 0.7rem;
    border-radius: 50%;
    margin-right: 1rem;
    cursor: pointer;
    transition: all 0.5s;
  
  }