.header {
  background-color: #FCEED5;
}
/*****************/
/* Hero Section */
/***************/
.section-hero {
  background-color:#FCEED5;
  padding: 4.8rem 0 12rem 0;
  position:relative;
  
  overflow: hidden;
}
.hero {
  display:grid;
  grid-template-columns: 2fr 1fr;
}
.background-img-1 {
  width:45rem;
  position: absolute;
  bottom: 5%;
  left:41%; 
}
.background-img-2 {
  width:60rem;
  position: absolute;
  bottom:-13%;
  left:39%;

  /*z-index: -1;*/
}
.background-img-3 {
  position: absolute;
  bottom:1%;
  left:-7%;
}
.background-img-4 {
  width:5rem;
  position: absolute;
  top:10%;
  z-index: -2;
}
.hero-img {
  width:70rem;
  position: absolute;
  bottom:-35%;
  left:30%;
}
/*********************/
/* Products Section */
/*******************/
.section-products{
  padding-bottom: 4.6rem ;
}
.tag-container{
  width:20rem;
  height:3rem;
  background-color: #FCEED5;
  border-radius: 9px;
  padding-right: 2rem;
  
  display:flex;
  align-items: center;
  gap:0.2rem;

}
.present-box-img{
  width:2rem;
  height:2rem;
  object-fit: contain;
}
.dot-img{
  object-fit: contain;
  width:2rem;
  height:2rem;
}
.tag-text {
  font-size: 1.1rem;
  font-weight: 700;
  color:#003458;
  display:flex;
  gap:0.3rem;
}
/*********************/
/* Sellers Section  */
/*******************/
.section-sellers{
  padding: 4.8rem 0 4.6rem 0;
}
.headers-box{
  display:flex;
  align-items: center;
  gap:0.5rem;
}
.headers-box .subheading{
  align-self: flex-end;
}
.sellers-container{
  display:flex;
  justify-content: space-between;
  align-items: center;
  height:5rem;
  margin-top:3rem;
}
/*********************/
/* Adoption Section */
/*******************/
.section-adoption {
  padding: 2rem 4rem 9.6rem 4rem;
}
.adoption-container {
  height:30rem;
  border-radius: 9px;
  background-color:#FFB775;
  display:flex;
  position:relative;
  overflow: hidden;
}
.content-adoption {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;

  margin-right:60rem;
  z-index: 1;
  position:absolute;
  top:20%;
  left:5%;
}
.background-img-7 {
  position:absolute;
  left:-1%;
  
}
.adoption-img{
  z-index: 1;
  position:absolute;
  right:5%;
  top:1%;
  width:50rem;
  margin-right:3rem;
}
.background-img-8 {
  position:absolute;
  top:15%;
  right:-2%;
}
.adoption-heading-box {
  display:flex;
  align-items: center;
  gap:2rem;
}
.adoption-heading-box img {
  width:3rem;
  align-self:center;
}
/*******************/
/* Slider Section */
/*****************/
.section-slider{
  padding-bottom: 6.6rem ;
}
.slider {
  max-width: 120rem;
  height: 40rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.slide-container {
  position: absolute;
  top: 0;
  width: 95%;
  height:35rem;

  display: flex;
  justify-content: space-between;
  gap:2rem;

  /* THIS creates the animation! */
  /*transition: transform 1s;*/
}
.slide img {
  width:100%;
  border-radius: 9px;
}
.card-slide {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 12px;
  padding:1rem 1rem 1.5rem;

  display:flex;
  flex-direction: column;
  gap:0.7rem;
}
.card-slide h4 {
  font-size: 1.3rem;
  font-weight: 700;
  color:#00171F;

}
.card-slide p {
  font-size: 1rem;
  color: #242B33;
  line-height: 1.3;
 
}
.pet-tag {
  align-self: flex-start;
  font-size: 1rem;
  color:#fff;
  background-color:#00A7E7;
  padding: 0.6rem 1.2rem;
  border-radius: 50px;
}
.btn-container {
  display:flex;
  gap:1rem;
}
/*******************/
/* Timer Section  */
/*****************/
.section-timer {
  padding: 0 2rem 9.6rem 2rem;
}
.timer-container{
  display:flex;
  justify-content: space-between;
  padding:0 3rem;
}
.timer-box {
  width:20rem;
  height:15rem;
  background-color:#003459;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:0.5rem;

}
.heading-timer {
  font-size:4rem;
  font-weight:800;
  margin-bottom: 2rem;
  color: #003459;

}
.timer-time {
  font-size:5rem;
  font-weight: 700;
  color:#fff;
}
.time-unit {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: lighter;
  color: #fff;
}