.viewmore-feature {
    background-image: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #f7e2c0bc 104.24%); 
}
.viewmore-img {
    margin-left:5rem;;
}
.viewmore-feature h1, 
.viewmore-feature h2,
.viewmore-feature p{
    color:#fff;
}
.viewmore-btn1 {
    background-color: #00171f;
    color:#fff;
    border-color:#fff;
}
.viewmore-btn2 {
    background-color: #fff;
    color:#00171f;
}
/*******************/
/* Filter Section */
/*****************/
.section-filter {
    padding: 2rem 0 4.6rem 0;
}
.filter-container {
    display:flex;
    flex-direction: column;
    gap:3rem;
}
.filter-headings {
    display: flex;
    gap:20rem;
}
.filter-heading {
    display:flex;
    gap:63rem;
}
.subheadings-box {
    display:flex;
    align-items: center;
    gap:1rem;
}
.subheading {
    align-self:flex-end;
}
.filter-type-heading {
    font-size:1.3rem;
    font-weight: 700;
    color:#00171f;
    margin-bottom: 1.1rem;

}
.filter-container label {
    font-size:1rem;
    font-weight: 600;
    color:#00171f;
    
}
.filter-container input {
    width:1.2rem;
    height:1.2rem;
}
.inputs-box {
    display: flex;
    align-items: center;
    gap:0.6rem;
}
.inputs-container {
    display: flex;
    flex-direction: column;
    gap:0.8rem;
    position:relative;
    
}
.color-img {
    width:1.1rem;
    height:1.1rem;
}
.min-price-input::placeholder{
    width:2rem;
    
}
.max-price-input::placeholder {
    width:2rem;
    
}

.price-box input{
    width:11rem;
    height: 3rem;
    background-repeat: no-repeat;
    border-radius: 5px;
    border:none;
    border: 0.5px solid #0033581e;

}

.max-arrow {
    font-size: 1.5rem;
    font-weight: 800;
    position:absolute;
    bottom:10%;
    right:10%;
}
.min-arrow {
    font-size: 1.5rem;
    font-weight: 800;
    position:absolute;
    top:10%;
    right:10%;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-items: start;
}
.view-more-pets-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:1rem;
}
.viewmore-card {
    justify-self: start;
    align-self:start;
}
